html, body {
    height: 100%;
    width: 100vw;
    overflow: hidden;
    background: $body-background-color;
}

#main{
    width: 100vw;
    height: 100%;
    // overflow: hidden;
    display: flex;
    // flex-direction: column;
}

#content {
    margin-top: $gap;
    width: 100%;
    pointer-events: none;
}

.clickable {
    pointer-events: all;
}


.fancy-link {
    /* RESET */
    text-decoration: none;
    line-height: 1;
    
    position: relative;
    z-index: 0;
    display: inline-block;
    padding: 5px 5px;
    overflow: hidden;
    // color: #333;
    vertical-align: bottom;
    transition: color .3s ease-out;
 }
 
 .fancy-link::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: translateY(calc(100% - 2px));
    width: 100%;
    height: 100%;
    background-color: $orange;
    transition: transform .25s ease-out;
 }
 
 .fancy-link:hover { 
    color: $grey-lighter; 
 }
 .fancy-link:hover::before {
    transform: translateY(0);
    transition: transform .25s ease-out;
 }
 


.board-wrapper {
    position: fixed;
    display: flex;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#content {
    z-index: 1;
}

svg#board {
    flex: 1 0 auto;
    background: $grey-lighter;
    width: 100vw;
    height: 100%;
    rect {
        fill: $grey-dark;
    }
}

#controls {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    background-color: transparent;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
    align-items: center;

    .button {
        margin: 0 0.25rem;
    }
}

#speed-slider {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    input {
        margin: 0 0.5rem;
    }
    
}




.glitch {
    color: white;
    font-family: sans-serif;
    font-weight: 800;
    position: relative;
    font-size: 100px;
    padding: 30px; 

    
  &::before, &::after {
    padding: 30px; 
    color: white; 
    content: "Glitch"; 
    position: absolute; 
    width: 100%; 
    height: 100%; 
    background: black; 
    overflow: hidden; 
    top: 0; 
}
  
  &::before{
    left: 3px;
    text-shadow: -2px 0 red;
    animation-name: glitch-animation-1;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: reverse-alternate;
}
    

&::after{
    left: -3px;
    text-shadow: -2px 0 blue;
    animation-name: glitch-animation-2;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: reverse-alternate;}
}

  
@keyframes glitch-animation-1{
    $steps: 20;
    @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
            clip: rect(random(150)+px, 350px, random(150)+px, 30px);
        }
    }
}
    
@keyframes glitch-animation-2{
    $steps: 20;
    @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
            clip: rect(random(150)+px, 350px, random(150)+px, 30px)
        }
    }
}