@font-face {
    font-family: 'IBMPlexMono';
    src: url('/IBMPlexMono-Regular.woff2') format('woff2');
    font-weight: $weight-normal;
    font-style: normal;
}

// @font-face {
//     font-family: 'HelveticaNeueLTPro';
//     src: url('/HelveticaNeueLTPro-Roman.woff') format('woff');
//     font-weight: $weight-normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'HelveticaNeueLTPro';
//     src: url('/HelveticaNeueLTPro-BdCn.woff') format('woff');
//     font-weight: $weight-bold   ;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'HelveticaNeueLTPro';
//     src: url('/HelveticaNeueLTPro-BlkCn.woff') format('woff');
//     font-weight: $weight-black;
//     font-style: normal;
// }
